{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="http://bioinfud.com/DifExp/bootstrap.min.css"/>
    <!-- Optional theme -->  
    <title>{% block title %}KmerCountersToolKit (KCTK){% endblock %}</title>
        <!-- Latest compiled and minified JavaScript and JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.Jcrop.min.css' %}" type="text/css" />
</head>
<body>
<div class="container" style="width: 100%!important;">
    <div class="row">
        <div class="col-sm-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/">KCTK</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% if not user.is_authenticated %}
                    <li>
                    <a href="/register/">Registrarse</a>
                    </li>
                    <li><a href="/login/">Acceder</a></li>
                {% else %}
                <span></span>
                    <li  class="active" ><a href="#" style="cursor:default">Bienvenido, {{user.profile.firstName}}</a>  </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout/">Salir</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        </div>
    </div>
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked">
                <li ><a href="/">Home</a></li>
                <li ><a href="/files/">Imagenes</a></li>
                <li ><a href="/process/show/">Procesos</a></li>
            </ul>
            <!-- <div id="preview-pane" style="position: fixed;z-index: 2000;bottom: 5px;left: 5px;">
                <div class="preview-container">
                    <img src="{% static 'default.png' %}" class="jcrop-preview" id="preview_mul" alt="Preview" />
                </div>
            </div> -->
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="col-sm-10" style="border-left: solid rgb(80, 121, 150) 1px;">
        {% endif %}
            {% block content %}{% endblock %}
        {% if user.is_authenticated %}
        </div>
        {% endif %}
    </div>        
</div>
<script type="text/javascript">
// se declara la API de jcrop para interactuar con la imagen 
var jcrop_api_pan;
var jcrop_api_mul;

/* Grab some information about the preview pane
$preview = $('#preview-pane'),
$pcnt = $('#preview-pane .preview-container'),
$pimg = $('#preview-pane .preview-container img'),

xsize = $pcnt.width(),
ysize = $pcnt.height();*/

$('#id_file_mul').on('change', function (e) {
    // si ya existe un API declarado, lo destruyo para poder redimencionar la imagen
    if(jcrop_api_mul) jcrop_api_mul.destroy();
    $('#target_mul').attr('src',/static/+this.value+'.jpg');
    //$('#preview_mul').attr('src',/static/+this.value+'.jpg');
    $('#target_mul').attr('style','max-width: 100%');
    var image = new Image();
    image.src = $('#target_mul').attr("src");
    if (image.naturalHeight == 0) image.src = $('#target_mul').attr("src");
    //creao un nuevo widget de Jcrop para la nueva imagen
    $('#target_mul').Jcrop({
        //onChange: showPreview_mul,
        trueSize: [image.naturalWidth,image.naturalHeight],
        bgColor:     'black',
        bgOpacity:   .2,
        setSelect:   [ 0, 0, 50, 50 ],
        aspectRatio: 1,
        allowResize: false,
        allowSelect: false
    },function(){
        // Use the API to get the real image size
        //var bounds = this.getBounds();
        //boundx = bounds[0];
        //boundy = bounds[1];
        // Store the API in the jcrop_api variable
        jcrop_api_mul = this;
        // Move the preview into the jcrop container for css positioning
        //$preview.appendTo(jcrop_api_mul.ui.holder);
        
    });
    //configuro el valor del slider que da el tamaño al cuadro de recorte
    if(image.naturalWidth > image.naturalHeight){
        max_diadic = Math.log(image.naturalHeight) / Math.log(2)
        console.log("H:"+image.naturalHeight);
        console.log("W:"+image.naturalWidth);
        console.log("max_diadic:"+max_diadic);
    }else{
        max_diadic = Math.log(image.naturalWidth) / Math.log(2)
        console.log("H:"+image.naturalHeight);
        console.log("W:"+image.naturalWidth);
        console.log("max_diadic:"+max_diadic);
    }
    $('#id_diadica_mul').attr('max', max_diadic|0);
    $('#id_diadica_mul_val').html( $('#id_diadica_mul').val() );
    
});
$('#id_file_pan').on('change', function (e) {
    if(jcrop_api_pan) jcrop_api_pan.destroy();
    $('#target_pan').attr('src',/static/+this.value+'.jpg');
    $('#preview_pan').attr('src',/static/+this.value+'.jpg');
    $('#target_pan').attr('style','max-width: 100%');
    var image = new Image();
    image.src = $('#target_pan').attr("src");
    if (image.naturalHeight == 0) image.src = $('#target_mul').attr("src");
    //creao un nuevo widget de Jcrop para la nueva imagen
    $('#target_pan').Jcrop({
        //onChange: showPreview_pan,
        trueSize: [image.naturalWidth,image.naturalHeight],
        bgColor:     'black',
        bgOpacity:   .2,
        setSelect:   [ 0, 0, 50, 50 ],
        aspectRatio: 1,
        allowResize: false,
        allowSelect: false
    },function(){
        jcrop_api_pan = this;
    });
    //configuro el valor del slider que da el tamaño al cuadro de recorte
    if(image.naturalWidth > image.naturalHeight){
        max_diadic = Math.log(image.naturalHeight) / Math.log(2)
        console.log("max_diadic:"+max_diadic);
    }else{
        max_diadic = Math.log(image.naturalWidth) / Math.log(2)
        console.log("max_diadic:"+max_diadic);
    }
    $('#id_diadica_pan').attr('max', max_diadic|0);
    $('#id_diadica_pan_val').html( $('#id_diadica_pan').val() );
});
$(document).on('input', '#id_diadica_mul', function() {
    //se actualiza el valor en frontend
    var diadic_val = $('#id_diadica_mul').val();
    $('#id_diadica_mul_val').html( diadic_val );
    //se cambia el tamaño del recorte
    var max_val_diadic = Math.pow(2, diadic_val);
    if(jcrop_api_mul) jcrop_api_mul.setSelect([0, 0, max_val_diadic, max_val_diadic]);
});
$(document).on('input', '#id_diadica_pan', function() {
    //se actualiza el valor en frontend
    var diadic_val = $('#id_diadica_pan').val();
    $('#id_diadica_mul_pan').html( diadic_val );
    //se cambia el tamaño del recorte
    var max_val_diadic = Math.pow(2, diadic_val);
    if(jcrop_api_pan) jcrop_api_pan.setSelect([0, 0, max_val_diadic, max_val_diadic]);
});
// function showPreview_mul(c){
//     if (parseInt(c.w) > 0)
//       {
//         var rx = xsize / c.w;
//         var ry = ysize / c.h;

//         $pimg.css({
//           width: Math.round(rx * boundx) + 'px',
//           height: Math.round(ry * boundy) + 'px',
//           marginLeft: '-' + Math.round(rx * c.x) + 'px',
//           marginTop: '-' + Math.round(ry * c.y) + 'px'
//         });
//       }
// }
// function showPreview_pan(coords){
//     var rx = 100 / coords.w;
//     var ry = 100 / coords.h;
//     $('#preview_pan').css({
//         width: Math.round(rx * $('target_mul').width()) + 'px',
//         height: Math.round(ry * $('target_mul').height()) + 'px',
//         marginLeft: '-' + Math.round(rx * coords.x) + 'px',
//         marginTop: '-' + Math.round(ry * coords.y) + 'px'
//     });
// }
</script>
<style type="text/css">

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
    display: block;
    position: fixed;
    z-index: 2000;
    bottom: 5px;
    left: 5px;
    padding: 1px;
    border: 1px rgba(0,0,0,.4) solid;
    background-color: white;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

</style>
</body>
</html>
